header{
    background-color: antiquewhite;
    padding: 40px 250px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6rem;
}
.nav-gamer{
    display: flex;
    align-items: center;
    gap: 1.2rem;

}
.tex-primary{
    color: #FF42A5;
}

.banner-section-nav{
    display: flex;
    padding: 20px 40px;


}
.nav-social{
    background-color: rgba(128, 128, 128, 0.338);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.nav-logo{
    width: 16px;
    height: 16px;
}



div > ul {
    display: flex;

}
div li{
    list-style: none;
    margin: 10px;
    font-size: 500px;
    font-size: 1rem;
}
div li a{
    text-decoration: none;
    color: gray;
}

div img{
    justify-content: space-between;
    text-align: right;
    font-size: medium;


}
.btn-primary{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    background-color: #FF42A5;
    border-radius: 20px;

}


/*hours-conteint*/




.hours-img{
    display: flex;
    margin: 0px;
    padding-right: 240px;
    text-align: center;
    position: relative;
    border-right: 300px;
}
.goad-content{
    color: darkorchid;

}

/* banner-styles */

.banner-section{
    width: 520px;
    text-align: center;
    align-items: flex-end;
    font-size: 48px;
    font-style: normal;
    font-weight: 300%;
    
}




.online-section{
    text-align: center;
    justify-content: space-around;
}


.image-center{
    display: flex;
    text-align: center;
    border: 20px;
}
.nav-logo-img{
    width: 318px;
    height: 365px;
    margin: 0;
    text-align:right;
    position: relative;
    bottom: 200px;
}

.sponsors-item{
    display: flex;
    display: flex;
    align-items: center;
    gap: 1.2rem;

 }
.nav-footer{
    display: flex;
    background-color: #0B0223;
    align-items: center;
    width: 1920px;
    height: 636px;
    
 }
 .tex-coler{
    color: #FFF;;
 }
 .nav section{
    display: flex;
 }
@media screen and (min-width: 576px) and (max-width: 992px){
    .banner-section{
        flex-direction: column-reverse;
    }
    .banner-section-nav{
        grid-column: auto;
    }
    .online-section{
        display: grid;
    }
}